.banner img{
	position: absolute;
	margin-left: 100px;
	width: 20%;
}
.logo img{
	width: 100%;
/*	height: 950px;*/
/*	padding-top: 100px;*/
}
.logo h1{
	font-family: 'Caveat Brush', cursive;
	/*	top: calc(50% - 150px);*/	    
/*	font-family: GlamourBrushRegular,Helvetica,Arial,sans-serif;*/
}
.row h2 {
	text-align: center;
	font-size: 50px;
	font-family: 'Josefin Sans', sans-serif;
/*	border-style: solid;*/
	padding-top: 10px;
/*	background-color: #DA251D;*/
}
}
p {
	font-family: 'Josefin Sans', sans-serif;
}
.top {
	background: url(../img/filename.jpg) no-repeat center center;
	background-size: cover;
}
.row img{
	padding-left: 150px;
}
.website img{
	padding-left: 150px;
}